
    <div *ngFor="let algo of algorithms" class="example-item">
        <mat-card (click)="selectAlgorithm(algo.id)" class="w-100 mb-2">
            <p>
              {{algo?.description}}
            </p>
        </mat-card>
    </div>

