<div class="container">
    <div class="card my-5">
        <div class="card-body">
            <h3 class="text-center mb-5">Game Lobby</h3>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Room</th>
                        <th scope="col">Date</th>
                        <th scope="col">Players</th>
                        <th scope="col">Join</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let game of displayedGames; index as i">
                        <td>#{{ game.id }}</td>
                        <td>{{ game.date  | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td> {{ game.nbOfPlayers }} / 2</td>
                        <td> <button type="button" class="btn btn-success" [disabled]="game.nbOfPlayers == 2" (click)="joinGame(game)">Join </button></td>
                    </tr>
                </tbody>
            </table>
            <div class="row justify-content-center">
                <pagination [totalItems]="games?.length" [itemsPerPage]="5" (pageChanged)="pageChanged($event)"></pagination>
            </div>
        </div>
    </div>
</div>
