.app-ace-editor {
    border: 2px solid #f8f9fa;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 500px;
  }

textarea.form-control {
  background-color: #444444;
  color: #f8f9fa;
}

.bdrop {
  background-color: #375a7f !important;
}