<div class="row justify-content-between">
  <div class="col-md-4">
    <mat-form-field appearance="fill" style="width:100%;">
      <mat-label>Select a theme</mat-label>
      <mat-select [(value)]="theme">
        <mat-option (click)="selectTheme()" value="twilight">Dark</mat-option>
        <mat-option (click)="selectTheme()" value="xcode">Light</mat-option>
        <mat-option (click)="selectTheme()" value="solarized">Dark Blue</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-4">
    <mat-form-field appearance="fill" style="width:100%;">
      <mat-label>Select a Language</mat-label>
      <mat-select [(value)]="language">
        <mat-option (click)="selectLanguage()" value="Java">Java</mat-option>
        <mat-option (click)="selectLanguage()" value="Python">Python</mat-option>
        <mat-option (click)="selectLanguage()" value="Cpp">C++</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div
  class="app-ace-editor"
  #editor
></div>
<div class="d-flex flex-row-reverse mt-3">
  <button type="button" (click)="submit()" class="btn btn-primary ml-3">Submit</button>
  <button type="button" [disabled]="executionResult == null" (click)="openExecutionDialog()" class="btn btn-light">Show
    Results
  </button>
</div>
