.example-viewport {
  height: 300px;
  width: 100%;
}

.example-item {
  height: 100%;
  width:98%;
}

::-webkit-scrollbar {
  width: 8px;
  overflow-y: scroll;
 
  box-shadow: inset 0 0 4px #707070;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: White;
  border-radius: 10px;
}

