<div class="row justify-content-center m-3">
  <div class="col-md-3">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center">Dashboard</h4>
      </div>
      <div class="card-body">
        <mat-card *ngIf="player" class="w-100 mb-3">
          <div class="row">
            <div class="col-md-12">
              <h5 class="mb-3">You: {{player?.user.name}}</h5>
              <div class="row justify-content-center">
                <div class="col-md-2 m-auto">
                  <mat-icon>favorite</mat-icon>
                </div>
                <div class="col-md-10 m-auto">
                  <progressbar class="mb-2" max="100" [value]="player.remainingHealthPoints" [type]="player.remainingHealthPoints < 40 ? 'danger' : 'success'" [striped]="true" [animate]="true"><i>{{player.remainingHealthPoints}} / 100</i></progressbar>
                </div>
              </div>
              
            </div>
          </div>
        </mat-card>
        <mat-card *ngIf="opponent" class="w-100 mb-3">
          <div class="row">
            <div class="col-md-12">
              <h5 class="mb-3">{{opponent?.user.name}}</h5>
              <div class="row justify-content-center">
                <div class="col-md-2 m-auto">
                  <mat-icon>favorite</mat-icon>
                </div>
                <div class="col-md-10 m-auto">
                  <progressbar class="mb-2" max="100" [value]="opponent.remainingHealthPoints" [type]="opponent.remainingHealthPoints < 40 ? 'danger' : 'success'" [striped]="true" [animate]="true"><i>{{opponent.remainingHealthPoints}} / 100</i></progressbar>
                </div>
              </div>
              
            </div>
          </div>
        </mat-card>
        <h4>Turns History</h4>
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <div *cdkVirtualFor="let turn of historyTurns" class="example-item">
              <mat-card class="w-100 mb-2">
                  <p>
                      Attack By: {{turn.userId}} with {{turn.itemId != null ? turn.itemId : turn.actionId}}
                  </p>
              </mat-card>
          </div>
        </cdk-virtual-scroll-viewport>
      </div>
  </div>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
