.example-viewport {
    height: 600px;
    width: 100%;
  }
  
  .example-item {
    height: 100%;
    width:98%;
  }

  ::-webkit-scrollbar {
    width: 8px;
    overflow-y: scroll;
    background: white;
    box-shadow: inset 0 0 4px #707070;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #375a7f;
    border-radius: 10px;
}

.mat-card {
    border-radius: 10px;
    background-color: #f2f2f3;
    color:black;
    cursor:pointer;
}