<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h3 class="text-center">Items</h3>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let item of items" class="example-item">
          <mat-card (click)="openAlgorithmsDialog(item, true)" class="w-100 mb-2">
            <p>
              {{item.name}}
            </p>
          </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="col-md-5">
      <h3 class="text-center">Actions</h3>
      <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
        <div *cdkVirtualFor="let action of actions" class="example-item">
          <mat-card (click)="openAlgorithmsDialog(action, false)" class="w-100 mb-2">
            <p>
              {{formatActionName(action.name)}}
            </p>
          </mat-card>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
