<div class="row ">
  <div class="col-md-8" *ngIf="algorithm?.javaInitialCode">
      <app-code-editor [initialCode]="algorithm.javaInitialCode" [algorithmId]="algorithm.id"></app-code-editor>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 rounded-3 shadow-sm">
      <div class="card-header py-3">
        <h4 class="my-0 fw-normal text-center">Exercice</h4>
      </div>
      <div class="card-body">
        <p class="mt-3 mb-4">{{algorithm?.wording}}</p>
      </div>
  </div>
  </div>
</div>
