<div class="row justify-content-center">
  
  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <img class="w-100" src="./assets/images/game-over.gif" alt="logo">
        <div ></div>
      </div>
  </div>
  </div>
</div>

