<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style="background-image: 'url(./assets/images/home1.jfif)';background-size: 100% 100%;">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal"><strong>DevWars: </strong>The Game for developers</h1>
      <p class="lead fw-normal">Think you got what it takes?</p>
      <a class="btn btn-outline-primary" routerLink="/game" >Begin</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>

  <div class="container py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">With our game you can</h2>
  
    <div class="row row-cols-3 align-items-stretch py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: 'url(./assets/images/home2.jpg)';background-size: 100% 100%;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Practice your coding skills</h2>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: 'url(./assets/images/home3.jpg)';background-size: 100% 100%;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Compete in exciting games against your opponents</h2>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: 'url(./assets/images/home4.jpg)';background-size: 100% 100%;">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Simply, have fun!</h2>
          </div>
        </div>
      </div>
    </div>
  </div>