.text-devwar {
    color: #375A7F!important;
}

a {
    text-decoration: none;
}

.active {
    font-weight:bolder ;
    color: #375A7F!important;
}

.logo {
    cursor: pointer;
}

.logo:focus{
    outline: none;
}