<div
  class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <img src="./assets/images/logo.png" alt="logo" class="logo" [routerLink]="['/']">
  <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size:larger;">
    <a class="p-2 text-devwar" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="p-2 text-devwar" *ngIf="(accountService.currentUser$ | async) !== null" routerLink="/games" routerLinkActive="active">Games</a>
    <a class="p-2 text-devwar">About</a>
  </nav>
  <div class="d-flex align-items-center" *ngIf="(accountService.currentUser$ | async) === null">
    <a class="btn btn-outline-primary mr-2" [routerLink]="['/app/login']">Login</a>
    <a class="btn btn-outline-primary me-3" [routerLink]="['/app/register']">Sign up</a>
  </div>
  <div class="d-flex align-items-center" *ngIf="(accountService.currentUser$ | async) as user">
    <a class="p-2 text-devwar">Hello, <strong>{{user.name}} </strong></a>
    <a class="btn btn-outline-primary mr-2" (click)="accountService.logout()">Log out</a>
  </div>
</div>
