.mat-expansion-panel-header {
    background-color: #375a7f !important;
}

.mat-expansion-panel {
    background-color: #e8f1f7 !important;
}

code {
    padding: 0 3px;
    color: white;
}

.successeful {
    background-color: #5E8A34 !important;
}

.failed {
    background-color: #75091A !important;
}
