<h1 mat-dialog-title>Execution Result</h1>
<mat-expansion-panel class="mb-3">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Compilation Result
    </mat-panel-title>
    <mat-icon *ngIf="data?.successfullyCompiled" class="mr-2">check_circle</mat-icon>
    <mat-icon *ngIf="!data?.successfullyCompiled" class="mr-2">report_problem</mat-icon>
  </mat-expansion-panel-header>
  <h5 class="text-primary mt-3" *ngIf="data?.successfullyCompiled">Compilation was successeful</h5>
  <div class="row mt-3 text-primary" *ngIf="!data?.successfullyCompiled">
    <p>Log :</p><br/>
    <mat-card class="w-100">
      <code class="text-danger">
        {{data?.errorOutput}}
      </code>
    </mat-card>

  </div>
</mat-expansion-panel>

<ng-container *ngFor="let case of data?.cases">
  <mat-expansion-panel>
    <mat-expansion-panel-header [ngClass]="case?.successful ? 'successeful' : 'failed'">
      <mat-panel-title>
        Test : {{case?.name}}
      </mat-panel-title>
      <mat-panel-description>
        Status : {{case?.status}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row mt-3 text-primary">
      <p>Log :</p><br/>
      <mat-card class="w-100">
        <code>
          {{case?.log}}
        </code>
      </mat-card>

    </div>
    <div class="row mt-3 text-primary">
      <p>Expected Output :</p><br/>
      <mat-card class="w-100">
        <code>
          {{case?.expectedOutput}}
        </code>
      </mat-card>
    </div>

  </mat-expansion-panel>
</ng-container>

<mat-expansion-panel class="mb-3">
  <mat-expansion-panel-header [ngClass]="data?.linterErrors.length <= 0 ? 'successeful' : 'failed'">
    <mat-panel-title>
      Linter errors
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-card *ngFor="let error of data?.linterErrors" class="w-100">
    <code class="text-danger">
      {{error?.errorMessage}}
    </code>
  </mat-card>

</mat-expansion-panel>

